repos:
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: pytest --cov=kata --cov-fail-under=90 tests/
        language: system
        pass_filenames: false
        always_run: true
      - id: type-hint-check
        name: type-hint-check
        entry: mypy src/main.py src/kata
        language: system
        pass_filenames: false
        always_run: true
